{% extends "base.html" %}

{% block page_content %}
<div class="grid">
    <div class="heading">
        <h1>All the articles!</h1>
    </div>
    <hr>
    {% for post in posts %}
        <div class="grid">
            <h2 class="glow-on-hover"><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
            <small>
                {{ post.created_on.date }} |&nbsp;
                Categories:&nbsp;
                {% for category in post.categories.all %}
                <a class="glow-on-hover"href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ post.body | linebreaks | slice:":200" }}...</p>
        </div>
    {% endfor %}
</div>
{% endblock %}