body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar {
    background-color: #003300;
    color: #c5c5c4;
  }

  .text-container {
    margin-top: 15%;
  }

  .section-header {
    padding: 30px;
    background-color: #003300;
    color: #c5c5c4;
    font-family: 'Montserrat', sans-serif;
  }

  .project-title {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }

  .project-pic {
    border: 2px solid black;
    padding: 2em;
  }

  .exp-title {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }

  .exp-pic {
    border: 2px solid black
  }

  p{
    font-family: 'Montserrat', sans-serif;
  }

  li {
    font-family: 'Montserrat', sans-serif;
  }

  .contact-container {
    background-color: #c5c5c4;
  }

  .projects-container {
    background-color: #c5c5c4;
  }

  .experience-container {
    background-color: #eee;
  }

  h3 {
    background-color: #003300;
    color: #c5c5c4
  }

  .jumbotron p{
    font-size: 21px;
  }

  .card-text {
    font-family: 'Montserrat', sans-serif;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #003300;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #48ff00, #7a00ff, blue);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover a:hover {
    color: #48ff00;
    animation: glowing 20s linear infinite;
    transition: color .3s ease-in-out;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #003300;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

a {
  color: yellowgreen;
  text-decoration: none;
}