body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  background: transparent;
  color: #c5c5c4;
}
.text-container {
  margin-top: 100px;
}
.project-title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}
.project-pic {
  border: 2px solid black;
  padding: 2em;
}
.projects-container {
  background: transparent;
}
.jumbotron {
  background: transparent;
  color: #c5c5c4;
}
.jumbotron p{
  font-size: 2vw;
}
.card-text {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.card-body {
  background: transparent;
}
.heading {
  font-size: 6vw;
}
.tagline {
  font-size: 4vw;
}
.glow-on-hover {
  height: 75px;
  border: none;
  outline: none;
  color: #003300;
  background: transparent; 
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 100%;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, silver, #a09be7, #7a00ff, #a09be7, silver);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover a:hover {
  color: #48ff00;
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  transition: color .3s ease-in-out;
  text-decoration: none;
}
.glow-on-hover:active:after {
  background: transparent;
  text-decoration: none;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@-webkit-keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: whitesmoke;
}
a:active {
  text-decoration: underline;
  color: black;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-title {
  font-weight: bold;
}
div .card-body{
  background: transparent;
}
.card {
  background: transparent;
  color: #c5c5c4;
}
.card-text {
    color: #c5c5c4;
}
/* grid layout */
.grid {
  display: grid;
  grid-template-columns: auto; 
  grid-template-rows: auto, auto, auto;
  grid-row-gap: ;
}
/* changing words on landing page */
#changingword {
  font-size: 5vw;
}
#changingword:after {
  content:"";
  -webkit-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% { content: "developer"; }
  10% { content: "inquisitive"; }
  20% { content: "team builder"; }
  30% { content: "lifelong learner"; }
  40% { content: "driven"; }
  50% { content: "problem solver"; }
  60% { content: "dedicated"; }
  70% { content: "agile"; }
  80% { content: "teacher"; }
  90% { content: "passionate"; }
  100% { content: "developer"; }
}