{% extends "base.html" %}
{% load static %}
{% block title %}My Projects{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block page_content %}
    <h1>Some of the cool stuff I've built</h1>
    <br>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{ project.image.url }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ project.title }}</h4>
                        <p class="card-text">{{ project.description | truncatechars:150 }}</p>
                        <button class="btn glow-on-hover">
                            <a href="{% url 'project_detail' project.pk %}">Read More</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}