{% extends "base.html" %}
{% load static %}
{% block title %} {{ project.title }} {% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block page_content %}
    <h1>{{ project.title }}</h1>
    <br>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ project.image.url }}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h4>Deets:</h4>
            <h6 class="ml-2">{{ project.description }}</h6>
            <br>
            <h4>Techs:</h4>
            {% for technology in technologies %}
                <h6 class="card ml-2">{{ technology.name }}</h6>
            {% endfor %}
            <br>
            <h4>Codez:</h4>
            <a href={{ project.link }} class="button glow-button">Code</a>
        </div>
    </div>  
{% endblock %}