{% extends "base.html" %}
{% load static %}
{% block title %}Stuff I've built{% endblock %}
{% block extra_head %}{% endblock %}
{% block page_content %}
<div>
    <div class="text-center">
        <h1>Stuff I've built</h1>
    </div>
    <hr>
    <br>
    <div class="grid">
        {% for project in projects %}
            <div>
                <div>
                    <h2>{{ project.title }}</h2>
                    <img class="card-img-top mb-3" src="{{ project.image.url }}">
                    <div>
                        <p>{{ project.description | truncatechars:150 }}</p>
                        <div class="text-center">
                            <a href="{% url 'project_detail' project.pk %}">
                                <button class="btn glow-on-hover">Read More</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}