{% extends "base.html" %}
{% load static %}
{% block title %}Stuff I've built{% endblock %}
{% block extra_head %}{% endblock %}
{% block page_content %}
<div>
    <div class="text-center">
        <h1>Stuff I've built</h1>
    </div>
    <hr>
    <br>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{ project.image.url }}">
                    <div class="card-body">
                        <h4 class="card-title mb-3">{{ project.title }}</h4>
                        <p class="card-text">{{ project.description | truncatechars:150 }}</p>
                        <div class="text-center">
                            <button class="btn glow-on-hover">
                                <a href="{% url 'project_detail' project.pk %}">Read More</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}