{% extends "base.html" %}
{% load static %}
{% block title %}Wayne Burris{% endblock %}
{% block extra_head %}{% endblock %}
{% block page_content %}
<div class="text-center">
    <h1>< Wayne /></h1>
    <hr>
    <br>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The I am slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active align-items-center">
                <h4>developer</h4>
            </div>
            <div class="carousel-item">
                <h4>lifelong learner</h4>
            </div>
            <div class="carousel-item">
                <h4>dreamer</h4>
            </div>
            <div class="carousel-item">
                <h4>dedicated</h4>
            </div>
            <div class="carousel-item">
                <h4>collaborator</h4>
            </div>
            <div class="carousel-item">
                <h4>teacher</h4>
            </div>
        </div>
    </div>
    <br>
    {% comment %} <div class="row">
        <div class="col-sm-12"><img class="rounded-circle img-fluid" src="/media/images/wayne_zpsrhdmpcwo.jpeg" alt="Wayne's profile picture"></div>
    </div> {% endcomment %}
    <div class="row">  
        <div class="col-sm-12 text-container">
            <p>Let's build something together.</p>
        </div>
    </div>
</div>
{% endblock %}