{% extends "base.html" %}
{% load static %}
{% block title %}Wayne Burris{% endblock %}
{% block extra_head %}{% endblock %}
{% block page_content %}
<div class="jumbotron text-center">
    <h1>Wayne Burris</h1>
    <h2>Experienced FullStack Developer In Permanent Beta</h2>
    <div class="row">
        <div class="col-sm-6"><img class="rounded-circle img-fluid" src="/media/images/wayne_zpsrhdmpcwo.jpeg" alt="Wayne's profile picture"></div>
        <div class="col-sm-6 text-container">
            <p>Always Learning, Always Improving</p>
        </div>
    </div>  
</div>
{% endblock %}