{% extends "base.html" %}
{% load static %}
{% block title %}Wayne Burris{% endblock %}
{% block extra_head %}{% endblock %}
{% block page_content %}
<div class="text-center">
    <h1>Wayne Burris</h1>
    <br>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The I am slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active align-items-center">
                <h4>an experienced full-stack developer</h4>
            </div>
            <div class="carousel-item">
                <h4>always learning</h4>
            </div>
            <div class="carousel-item">
                <h4>a dreamer</h4>
            </div>
            <div class="carousel-item">
                <h4>dedicated</h4>
            </div>
            <div class="carousel-item">
                <h4>a team player</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6"><img class="rounded-circle img-fluid" src="/media/images/wayne_zpsrhdmpcwo.jpeg" alt="Wayne's profile picture"></div>
        <div class="col-sm-6 text-container">
            <p>Always Learning, Always Improving</p>
        </div>
    </div>  
</div>
{% endblock %}